# 缓存文件
__pycache__/

# 数据示例
example/
data/


# 日志文件
logs/

# 模型文件
*.onnx
*.pt
*.pth

# DICOM/NIfTI文件
*.dcm
*.ima
*.nii
*.nii.gz

# IDE配置
.idea/
.vscode/

# Python
*.pyc
*.pyo
*.egg-info/
dist/
build/

# 其他配置文件
config.yaml
*.ps1